@tailwind base;
@tailwind components;
@tailwind utilities;

.star-item {
  display: inline-block;
  margin-bottom: 6px;
}

.limit-text-length {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
